/* 基本图文组件样式 */

.h5_component {
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

#frontend-ox {
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img {
        width: 60px;
        height: 60px;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 10px;
    }
    a {
        display: inline-block;
        padding-right: 5px;
    }
}

.light p .na{
    display:inline-block;
    margin-right:5px;
    width:60px;
    text-align:right;
}

.light .hide{
    display: none;
}

.light .show{
    display: block;
}

.light .h3{
    cursor: pointer;
    border: 1px solid #f2f2f2;
}

.light .h3:hover{
    background: #f2f2f2;
}

.light .h3-show{
    color: #d14;
    font-size: 18px;
}

.h5_component_githubapi .key{
    padding: 2px;
    background: #f2f2f2;
    border-left: 3px solid #ccc;
    padding-left: 10px;
    font-weight: bolder;
    color: $brand-color;
}

.h5_component_githubapi .value{
    padding-left: 50px;
    color: #2196f3;
}